# Data Engineer - Extract API Data

## Imports

In [1]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data.

### Call the API

In [2]:
key = "4f13f15d55881116489f531c27da1cfb"
url = f"http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key={key}"

try:
    response = requests.get(url)

    if response.status_code == 200:
        print(response.text)
    else:
        print(f'Error al acceder al URL. Código de respuesta: {response.status_code}')

except requests.exceptions.RequestException as e:
    print(f'Error de solicitud: {e}')

{"success":true,"timestamp":1703788383,"base":"EUR","date":"2023-12-28","rates":{"AED":4.060981,"AFN":77.401677,"ALL":102.833029,"AMD":448.251189,"ANG":1.993653,"AOA":921.078401,"ARS":893.411133,"AUD":1.617791,"AWG":1.993089,"AZN":1.876011,"BAM":1.945465,"BBD":2.233376,"BDT":121.397844,"BGN":1.950383,"BHD":0.4168,"BIF":3156.876296,"BMD":1.105736,"BND":1.456191,"BOB":7.643946,"BRL":5.368455,"BSD":1.106159,"BTC":2.5960306e-5,"BTN":92.026785,"BWP":14.838248,"BYN":3.652065,"BYR":21672.425708,"BZD":2.229726,"CAD":1.46191,"CDF":2958.949285,"CHF":0.931317,"CLF":0.035485,"CLP":979.128859,"CNY":7.860344,"COP":4256.011057,"CRC":573.992313,"CUC":1.105736,"CUP":29.302004,"CVE":110.209098,"CZK":24.705453,"DJF":196.511491,"DKK":7.453496,"DOP":63.856016,"DZD":148.380186,"EGP":34.193008,"ERN":16.58604,"ETB":62.08678,"EUR":1,"FJD":2.422778,"FKP":0.864175,"GBP":0.869656,"GEL":2.974336,"GGP":0.864175,"GHS":13.296453,"GIP":0.864175,"GMD":74.498957,"GNF":9470.628631,"GTQ":8.653655,"GYD":231.437282,"HKD":8.641018,"HNL":27.333407,"HRK":7.719995,"HTG":145.877693,"HUF":382.617764,"IDR":17094.512785,"ILS":4.010488,"IMP":0.864175,"INR":91.960691,"IQD":1448.514167,"IRR":46474.08449,"ISK":150.092737,"JEP":0.864175,"JMD":170.894522,"JOD":0.784637,"JPY":156.53518,"KES":173.046226,"KGS":98.47939,"KHR":4539.045946,"KMF":490.449149,"KPW":995.115775,"KRW":1426.040044,"KWD":0.339837,"KYD":0.921869,"KZT":502.0701,"LAK":22767.104047,"LBP":16655.148156,"LKR":358.297957,"LRD":208.376041,"LSL":20.334089,"LTL":3.264951,"LVL":0.668849,"LYD":5.290971,"MAD":10.831242,"MDL":19.220287,"MGA":5075.327975,"MKD":61.358962,"MMK":2323.027467,"MNT":3793.997965,"MOP":8.906132,"MRU":43.790754,"MUR":48.545748,"MVR":16.99556,"MWK":1860.953917,"MXN":18.707904,"MYR":5.11843,"MZN":69.937747,"NAD":20.334287,"NGN":991.413674,"NIO":40.580075,"NOK":11.298333,"NPR":147.242458,"NZD":1.74504,"OMR":0.425663,"PAB":1.106159,"PEN":4.080523,"PGK":4.117214,"PHP":61.340637,"PKR":312.232208,"PLN":4.328791,"PYG":8037.881951,"QAR":4.025433,"RON":4.969957,"RSD":117.14274,"RUB":98.134291,"RWF":1397.097443,"SAR":4.146366,"SBD":9.332601,"SCR":15.15852,"SDG":664.547277,"SEK":11.05835,"SGD":1.459942,"SHP":1.414734,"SLE":25.232791,"SLL":21838.285962,"SOS":631.37504,"SRD":40.869659,"STD":22886.502842,"SYP":14376.217729,"SZL":20.33479,"THB":37.876433,"TJS":12.068661,"TMT":3.870076,"TND":3.389133,"TOP":2.579459,"TRY":32.555969,"TTD":7.508655,"TWD":33.97982,"TZS":2784.243211,"UAH":42.108156,"UGX":4169.886052,"USD":1.105736,"UYU":43.379555,"UZS":13655.840055,"VEF":3951107.900128,"VES":39.517898,"VND":26935.729095,"VUV":129.798233,"WST":2.986275,"XAF":652.502517,"XAG":0.045899,"XAU":0.000533,"XCD":2.988307,"XDR":0.824236,"XOF":656.254226,"XPF":119.331742,"YER":276.776196,"ZAR":20.514997,"ZMK":9952.955903,"ZMW":28.413117,"ZWL":356.046543}}

### Save as DataFrame

Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [3]:
df = pd.read_json(response.text, orient="records")
df

     success           timestamp base       date        rates
AED     True 2023-12-28 18:33:03  EUR 2023-12-28     4.060981
AFN     True 2023-12-28 18:33:03  EUR 2023-12-28    77.401677
ALL     True 2023-12-28 18:33:03  EUR 2023-12-28   102.833029
AMD     True 2023-12-28 18:33:03  EUR 2023-12-28   448.251189
ANG     True 2023-12-28 18:33:03  EUR 2023-12-28     1.993653
..       ...                 ...  ...        ...          ...
YER     True 2023-12-28 18:33:03  EUR 2023-12-28   276.776196
ZAR     True 2023-12-28 18:33:03  EUR 2023-12-28    20.514997
ZMK     True 2023-12-28 18:33:03  EUR 2023-12-28  9952.955903
ZMW     True 2023-12-28 18:33:03  EUR 2023-12-28    28.413117
ZWL     True 2023-12-28 18:33:03  EUR 2023-12-28   356.046543

[169 rows x 5 columns]

In [4]:
# Drop unnecessary columns
df.drop(["success", "timestamp", "base", "date"], axis=1, inplace=True)
df

           rates
AED     4.060981
AFN    77.401677
ALL   102.833029
AMD   448.251189
ANG     1.993653
..           ...
YER   276.776196
ZAR    20.514997
ZMK  9952.955903
ZMW    28.413117
ZWL   356.046543

[169 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [5]:
# Save the Dataframe
df.to_csv("exchange_rates_1.csv")